@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>
        Sorry, an error occurred while processing your request.
    </h1>
</body>
</html>